* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    background: lavender;
}

.cardhold {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

.cardholdcolumn {
    display: flex;
    flex-direction: column;
}

.card {
    display: block;
    width: 300px;
    border-radius: 30px;
    margin: 10px;
    padding: 20px;
    background-color: white;
    outline: 1px #430081 solid;
    box-shadow: 10px 10px 0px 0px #430081;
    text-align: center;
    color: #430081;
}

.smallcard {
    width: 200px;
    height: 200px;
    padding: 0px;
}

.headshot {
    border: solid 1px #430081;
    border-radius: 50%;
}

figcaption {
    font-weight: 700;
}