* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: linear-gradient(to bottom, green, rgb(150, 255, 52));
    background-size: cover;
    background-repeat: no-repeat;
}

#card {
    display: block;
    align-content: center;
    width: 300px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    background-color: wheat;
}

#card h1 {
    text-align: center;
}