* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    overflow: hidden;
    background: white;
    background-size: cover;
    background-repeat:inherit;
}

#card {
    display: block;
    align-content: center;
    width: 300px;
    border-radius: 30px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    background-color: white;
    outline: 1px #430081 solid;
    box-shadow: 10px 10px 0px 0px #430081;
}

#card h1, #card p {
    text-align: center;
    color: #430081;
}